pandas
numpy
scikit-learn
recordlinkage
rapidfuzz
openpyxl
XlsxWriter
# CLI utility
click
# openai
python-dotenv
jupyterlab            # or notebook
ipykernel
matplotlib            # for plotting in your debug notebook
kneed
